body {   margin: 0;}

.heading {
    display: flex;
    justify-content: space-between;
    border: 1px solid #6e6666;
}

.nav-container > ul > li {
    display: inline-flex;
    padding: 10px 15px;
}
#logo {
    margin: 0;
}
.res-container{
  display: flex;
  margin: 15px;
  flex-wrap: wrap;
}
.res-card {
    width: 200px;
    padding: 5px;
    margin: 5px;
    background-color: aliceblue;
}
.res-card:hover{
    border: 1px solid #484646;
}
.search-container{
    margin: 20px;
}
.res-image{
    width: 200px;
    height: 180px;
}

.filter-btn{
    margin:10px;
}

.shimmer-container{
    display: flex;
}

.shimmer-card{
    width: 250px;
    height: 300px;
    background-color: #dedbdb;
    margin: 10px;
}
.search{
    display: flex;
}
.search-container{
    display: flex;
}
.user-card{
    padding: 10px;
    border: 1px solid #484646;
}